<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Магазин вещей | @ViewBag.Title</title>
</head>
<body>
    <header>
        <a asp-controller="customers" asp-action="index">Заказчики</a>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <p style="text-align:center">Created by Max 2022г.</p>
    </footer>
</body>
</html>

<style>
    input.input-validation-error {
        border: 1px solid #b94a48;
    }
</style>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>
