@model Order

<h2>Создание заказа</h2>
<form asp-action="create">
    @if (@ViewBag.CustomersCount == 0)
    {
        <p>На сайте ещё не добавлены заказчики, оформить заказ невозможно</p>
    }else
    {
        <div>
        <p>
            <label asp-for="CustomerId"></label> <br />
            <select asp-for="CustomerId" asp-items="@ViewBag.Customers"></select> <br />
        </p>
        <p>
            <label asp-for="OrderDate"></label> <br />
            <input type="date" asp-for="OrderDate" value=@DateTime.Now.Date.ToString("yyyy-MM-dd") max=@DateTime.Now.Date.ToString("yyyy-MM-dd")/> 
            <span asp-validation-for="OrderDate" /> <br />
        </p>
        <p>
            <label asp-for="ShipmentDate"></label> <br />
            <input type="date" asp-for="ShipmentDate" min=@DateTime.Now.Date.ToString("yyyy-MM-dd")/>
            <span asp-validation-for="ShipmentDate" /> <br />
        </p>
        <p>
            <label asp-for="Status"></label> <br />
            <select asp-for="Status" asp-items="Html.GetEnumSelectList<OrderStatus>()"></select>
            <span asp-validation-for="Status" /> <br />
        </p>
        <p>
            <input type="submit" value="Создать" />
        </p>
    </div>
    }  
</form>
